.DS_Store
/build/
/out/
/src/.vs
/src/DotNetCoreSample/bin/
/src/DotNetCoreSample/obj/
/src/MonoTorrent.Dht/bin/
/src/MonoTorrent.Dht/obj/
/src/MonoTorrent.Tests/bin/
/src/MonoTorrent.Tests/obj/
/src/MonoTorrent/bin/
/src/MonoTorrent/obj/
/src/SampleClient/bin/
/src/SampleClient/obj/
/src/TrackerApp/bin/
/src/TrackerApp/obj/
