<configuration>
	<system.web>
		<authentication mode="None"/>
		<httpHandlers>
			<add verb="GET" path="announce" type="MonoTorrent.Tracker.AnnounceHandler,tracker" validate="false"/>
			<add verb="GET" path="scrape" type="MonoTorrent.Tracker.ScrapeHandler,tracker" validate="false"/>
			<add verb="GET" path="test" type="MonoTorrent.Tracker.TestHandler,tracker" validate="false" />
		</httpHandlers>		
	</system.web>
</configuration>